<%= semantic_form_for [:admin, @product, @service_area] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :areas, as: :string, :input_html => { :readonly => true }  %>
    <div id="map" style="height: 500px;"></div>
    <div id='tips'>鼠标在地图上点击绘制多边形，点击右键或双击左键结束绘制</div>
    <input type="button" value="开始编辑多边形" onClick="edit_polygon()"/>
    <input type="button" value="结束编辑多边形" onClick="end_edit()"/>
  <% end %>
  <%= f.actions %>
<% end %>

<script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=4daf14fd86b568d2429698650673d9c1"></script>
<script language="javascript">
var map, editor_tool;
//初始化地图对象，加载地图
function map_init(){
  map = new AMap.Map("map",{
    //二维地图显示视口
    view: new AMap.View2D({
      // center:new AMap.LngLat(116.397428,39.90923),//地图中心点
      zoom:13 //地图显示的缩放级别
    })
  });
  map.plugin(["AMap.ToolBar"],function(){
    tool = new AMap.ToolBar();
    map.addControl(tool);
  });
  var area = $('#service_area_areas').val();
  if(area){
    var points = area.split(',');
    var arr = new Array();
    for(var i=0;i<points.length;i+=2){
      arr.push(new AMap.LngLat(points[i], points[i+1]));
    }
    //设置多边形的属性
    var polygon_option = {
      map: map,
      path: arr,
      strokeColor:"#FF33FF",
      strokeOpacity:1,
      strokeWeight:2,
      fillColor: "#f5deb3",
      fillOpacity: 0.35
    };
    var polygon = new AMap.Polygon(polygon_option);
    map.setFitView();
    map.plugin(["AMap.PolyEditor"], function() {
      editor_tool = new AMap.PolyEditor(map, polygon);
      var change = function(e){
        $('#service_area_areas').val(e.target.getPath());
      }
      AMap.event.addListener(editor_tool, "addnode", change);
      AMap.event.addListener(editor_tool, "adjust", change);
      AMap.event.addListener(editor_tool, "removenode", change);
    });
  }else{
    var polygon_option = {
      strokeColor:"#FF33FF",
      strokeOpacity:1,
      strokeWeight:2
    };
    //在地图中添加MouseTool插件
    map.plugin(["AMap.MouseTool"],function(){
      mouse_tool = new AMap.MouseTool(map);
      mouse_tool.polygon(polygon_option);   //使用鼠标工具绘制多边形
      AMap.event.addListener(mouse_tool,"draw",function(e){
        var draw_obj = e.obj;  //obj属性就是绘制完成的覆盖物对象。
        $('#service_area_areas').val(draw_obj.getPath());
      });
    });
  }
  map.setFitView();
}

function edit_polygon()
{
  editor_tool.open();
}
function end_edit()
{
  editor_tool.close();
}

$(function(){
  map_init();
});
</script>
</script>
