<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>嘀嘀去哪儿</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="车主去哪儿，我们的服务到哪儿">
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Global CSS -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="homepage">

  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right text-center" role="navigation">
    <ul class="list-unstyled menu-links">
      <li class="nav-item active">
        <a href="/">首页</a>
      </li>
      <li class="nav-item"><a href="about.html">About</a></li>
      <li class="nav-item"><a href="press.html">Press</a></li>
      <li class="nav-item"><a href="pricing.html">Pricing</a></li>
      <li class="nav-item"><a href="faqs.html">FAQs</a></li>
      <li class="nav-item"><a href="jobs.html">Jobs</a></li>
      <li class="nav-item"><a href="blog.html">Blog</a></li>
      <li class="nav-item last"><a href="contact.html">Contact</a></li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Options<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="index.html">iPhone 6 Plus (Gold)</a></li>
          <li><a href="index-iphone-2.html">iPhone 6 Plus (Space Grey)</a></li>
          <li><a href="index-android.html">Android</a></li>
        </ul>
      </li><!--//dropdown-->
    </ul>
    <ul class="social-icons list-inline">
      <li>
        <a href="https://weibo.com/">
          <i class="fa fa-weibo"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-weixin"></i>
        </a>
      </li>
    </ul>

    <ul class="list-unstyled download-buttons">
      <li class="app-store">
        <a href="#">
          <%= image_tag "buttons/btn-app-store.png", alt: 'Download from App Store', class: 'img-responsive' %>
        </a>
      </li>
      <li class="google-play">
        <a href="#">
          <%= image_tag "buttons/btn-google-play.png", alt: 'Download from Google Play', class: 'img-responsive' %>
        </a>
      </li>
    </ul><!--//list-unstyled-->
  </nav>

  <div class="canvas-wrapper">
    <!-- ******HEADER****** -->
    <header id="header" class="header navbar-fixed-top">
      <div class="container">
        <h1 class="logo">
          <a href="/">嘀嘀去哪儿</a>
        </h1><!--//logo-->
        <div class="social-container text-center">
          <ul class="social-icons list-inline">
            <li>
              <a href="https://weibo.com/">
                <i class="fa fa-weibo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-weixin"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-wrapper hidden">
          <span class="navbar-label">MENU</span>
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-recalc="false" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!--//navbar -->
      </div><!--//container-->
    </header><!--//header-->

    <div id="fullpage" class="sections-wrapper">

      <!-- ******Promo Section****** -->
      <section id="promo" class="promo section gradient-1">
        <div class="container">
          <div class="row">
            <div class="intro-area col-md-4 col-sm-12 col-xs-12">
              <h2 class="title">嘀嘀去哪儿</h2>
              <p class="intro">车主去哪儿，我们的服务到哪儿.</p>
            </div><!--//intro-area-->
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="download-area col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
              <ul class="list-unstyled download-buttons">
                <li class="app-store">
                  <a href="#">
                    <%= image_tag "buttons/btn-app-store.png", alt: 'Download from App Store', class: 'img-responsive' %>
                  </a>
                </li>
                <li class="google-play">
                  <a href="#">
                    <%= image_tag "buttons/btn-google-play.png", alt: 'Download from Google Play', class: 'img-responsive' %>
                  </a>
                </li>
              </ul><!--//list-unstyled-->
              <ul class="list-unstyled summary">
                <li><i class="fa fa-check"></i> 一键下单，随叫随洗</li>
                <li><i class="fa fa-check"></i> 准点服务，实时监控</li>
                <li><i class="fa fa-check"></i> 高效服务，标准流程</li>
                <li><i class="fa fa-check"></i> 专业设备，不伤车身</li>
                <li><i class="fa fa-check"></i> 一车五巾，独立封包</li>
                <li><i class="fa fa-check"></i> 25道工序，附送检测</li>
              </ul><!--//list-unstyled-->
            </div><!--//download-area-->
            <div class="clearfix visible-xs-block"></div>
            <div class="device device-iphone text-center col-md-4 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
              <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                <div class="device-holder-inner">
                  <div id="home-slideshow" class="owl-carousel owl-theme">
                    <div class="item">
                      <%= image_tag "devices/screenshots/home.jpg", class: 'img-responsive' %>
                    </div>
                    <div class="item">
                      <%= image_tag "devices/screenshots/order.jpg", class: 'img-responsive' %>
                    </div>
                    <div class="item">
                      <%= image_tag "devices/screenshots/my.jpg", class: 'img-responsive' %>
                    </div>
                  </div><!--//slideshow-->
                </div><!--//device-holder-inner-->
              </div><!--//device-holder-->
            </div><!--//phone-holder-->
            <div class="clearfix"></div>
            <div class="arrow-holder text-center">
              <p class="lead-text"><a href="#benefit1">更多</a></p>
              <a href="#benefit1" class="animate pe-7s-bottom-arrow pe-3x"></a>
            </div><!--//arrow-holder-->
          </div><!--//row-->
        </div><!--//container-->
      </section><!--//promo-->

      <!-- ******Benefit-1 Section****** -->
      <section id="benefit-1" class="benefit-1 section gradient-2 has-pattern">
        <div class="section-inner">
          <div class="container text-center">
            <div class="row">
              <div class="content col-md-7 col-sm-6 col-xs-12">
                <div class="content-inner">
                  <span class="pe-icon pe-7s-coffee pe-4x"></span>
                  <h2 class="title text-center">Work the way you live</h2>
                  <p class="intro text-center">State one of your product benefits/features here. You can easily replace the screenshot in the phone with your own image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div><!--//content-inner-->
                <div class="testimonial text-center">
                  <div class="quote-container">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                      Back up the above benefit/feature with a relevant tweet/testimonial. It's great that Atom app gives me a chance to pulvinar orci non. Nulla suscipit dolor mauris. Morbi interdum ut ante vel lacinia.
                    </blockquote>
                    <div class="source">
                      <%= image_tag "profiles/profile-1.png", class: 'profile' %>
                      <p class="meta">
                        <span class="source-name"><a href="#">Heather Alexander</a></span>
                        <span class="source-title">San Francisco, US</span>
                      </p>
                    </div><!--//source-->
                  </div><!--//quote-container-->
                </div><!--//testimonial-->
              </div><!--//content-->
              <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">
                <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                  <div class="device-holder-inner">
                    <%= image_tag "devices/screenshots/iphone6-screen-2.jpg", class: 'img-responsive' %>
                  </div><!--//device-holder-inner-->
                </div><!--//device-holder-->
              </div><!--//phone-holder-->
            </div><!--//row-->
          </div><!--//container-->
        </div><!--//section-inner-->
      </section><!--//benefit-1-->

      <!-- ******Benefit-2 Section****** -->
      <section id="benefit-2" class="benefit-2 section gradient-3 has-pattern">
        <div class="section-inner">
          <div class="container text-center">
            <div class="row">
              <div class="content col-md-7 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
                <div class="content-inner">
                  <span class="pe-icon pe-7s-camera pe-4x"></span>
                  <h2 class="title text-center">Capture the moment</h2>
                  <p class="intro text-center">State one of your product benefits/features here. You can easily replace the screenshot in the phone with your own image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div><!--//content-inner-->
                <div class="testimonial text-center">
                  <div class="quote-container">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                      This is a great app and it's very easy to use bibendum cursus urna, quis rhoncus arcu. Curabitur vel sollicitudin leo.
                    </blockquote>
                    <div class="source">
                      <%= image_tag "profiles/profile-2.png", class: 'profile' %>
                      <p class="meta">
                        <span class="source-name"><a href="#">@GeraldChavez</a></span>
                        <span class="source-title">Bristol, UK</span>
                      </p>
                    </div><!--//source-->
                  </div><!--//quote-container-->
                </div><!--//testimonial-->
              </div><!--//content-->
              <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">
                <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                  <div class="device-holder-inner">
                    <%= image_tag "devices/screenshots/iphone6-screen-3.jpg", class: 'img-responsive' %>
                  </div><!--//device-holder-inner-->
                </div><!--//device-holder-->
              </div><!--//phone-holder-->
            </div><!--//row-->
          </div><!--//container-->
        </div><!--//section-inner-->
      </section><!--//benefit-2-->

      <!-- ******Benefit-3 Section****** -->
      <section id="benefit-3" class="benefit-3 section gradient-4 has-pattern">
        <div class="section-inner">
          <div class="container text-center">
            <div class="row">
              <div class="content col-md-7 col-sm-6 col-xs-12">
                <div class="content-inner">
                  <span class="pe-icon pe-7s-global pe-4x"></span>
                  <h2 class="title text-center">A new way to connect</h2>
                  <p class="intro text-center">State one of your product benefits/features here. You can easily replace the screenshot in the phone with your own image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div><!--//content-inner-->
                <div class="testimonial text-center">
                  <div class="quote-container">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                      Fantastic app! I love the Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere viverra dignissim. Etiam tincidunt varius luctus. Quisque est ex, lacinia id tempor et!
                    </blockquote>
                    <div class="source">
                      <%= image_tag "profiles/profile-3.png", class: 'profile' %>
                      <p class="meta">
                        <span class="source-name"><a href="#">Kelly Ryan</a></span>
                        <span class="source-title">London, UK</span>
                      </p>
                    </div><!--//source-->
                  </div><!--//quote-container-->
                </div><!--//testimonial-->
              </div><!--//content-->
              <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">
                <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                  <div class="device-holder-inner">
                    <%= image_tag "devices/screenshots/iphone6-screen-4.jpg", class: 'img-responsive' %>
                  </div><!--//device-holder-inner-->
                </div><!--//device-holder-->
              </div><!--//phone-holder-->
            </div><!--//row-->
          </div><!--//container-->
        </div><!--//section-inner-->
      </section><!--//benefit-3-->

      <!-- ******CTA Section****** -->
      <section id="cta-section" class="cta-section section gradient-5">
        <div class="press text-center">
          <div class="press-inner">
            <div class="container text-center">
              <h2 class="title">As featured on...</h2>
              <div class="row">
                <ul class="list-unstyled press-list">
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-1.png", class: 'img-responsive' %>
                    </a>
                  </li>
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-2.png", class: 'img-responsive' %>
                    </a>
                  </li>
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-3.png", class: 'img-responsive' %>
                    </a>
                  </li>
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-4.png", class: 'img-responsive' %>
                    </a>
                  </li>
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-5.png", class: 'img-responsive' %>
                    </a>
                  </li>
                  <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="press.html">
                      <%= image_tag "press/logo-6.png", class: 'img-responsive' %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div><!--//press-inner-->
        </div><!--//press-->
        <div class="download text-center">
          <div class="container">
            <h3 class="title">Download Atom now <br />and start marketing your app to your audience</h3>
            <ul class="list-inline download-list">
              <li>
                <a class="btn btn-cta btn-cta-primary" href="#">
                  <i class="fa fa-apple"></i>
                  <span class="text">Download for iOS</span>
                </a>
              </li>
              <li>
                <a class="btn btn-cta btn-cta-primary" href="#">
                  <i class="fa fa-android"></i>
                  <span class="text">Download for Android</span>
                </a>
              </li>
            </ul>
            <figure class="qr-holder">
              <%= image_tag "buttons/QR-code.png" %>
              <figcaption class="caption">扫描二维码下载</figcaption>
            </figure>
          </div><!--//container-->
        </div><!--//download-->
      </section><!--//cta-section-->
    </div><!--//sections-wrapper-->


    <!-- ******FOOTER****** -->

    <footer class="footer">
      <div class="container text-center">
        <nav class="links">
          <ul class="list-inline">
            <li><a href="about.html">About</a></li>
            <li><a href="press.html">Press</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <ul class="social-icons list-inline">
          <li>
            <a href="https://weibo.com/">
              <i class="fa fa-weibo"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-weixin"></i>
            </a>
          </li>
        </ul>
        <small class="copyright">Copyright &copy; 2015 河南赢道网络有限公司</small>

      </div><!--//container-->
    </footer><!--//footer-->
  </div><!--//canvas-wrapper-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
