<div id="fullpage" class="sections-wrapper">

  <!-- ******Promo Section****** -->
  <section id="promo" class="promo section gradient-1">
    <div class="container">
      <div class="row">
        <div class="intro-area col-md-4 col-sm-12 col-xs-12">
          <h2 class="title">嘀嘀去哪儿</h2>
          <p class="intro">车主去哪儿，我们的服务到哪儿.</p>
        </div><!--//intro-area-->
        <div class="clearfix visible-sm-block visible-xs-block"></div>
        <div class="download-area col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
          <ul class="list-unstyled download-buttons">
            <li class="app-store">
              <a href="#">
                <%= image_tag "buttons/btn-app-store.png", alt: 'Download from App Store', class: 'img-responsive' %>
              </a>
            </li>
            <li class="google-play">
              <a href="#">
                <%= image_tag "buttons/btn-google-play.png", alt: 'Download from Google Play', class: 'img-responsive' %>
              </a>
            </li>
          </ul><!--//list-unstyled-->
          <ul class="list-unstyled summary">
            <li><i class="fa fa-check"></i> 一键下单，随叫随洗</li>
            <li><i class="fa fa-check"></i> 准点服务，实时监控</li>
            <li><i class="fa fa-check"></i> 高效服务，标准流程</li>
            <li><i class="fa fa-check"></i> 专业设备，不伤车身</li>
            <li><i class="fa fa-check"></i> 一车五巾，独立封包</li>
            <li><i class="fa fa-check"></i> 25道工序，附送检测</li>
          </ul><!--//list-unstyled-->
        </div><!--//download-area-->
        <div class="clearfix visible-xs-block"></div>
        <div class="device device-iphone text-center col-md-4 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
          <div class="device-holder iphone-holder iphone-gold-holder offset-top">
            <div class="device-holder-inner">
              <div id="home-slideshow" class="owl-carousel owl-theme">
                <div class="item">
                  <%= image_tag "devices/screenshots/home.jpg", class: 'img-responsive' %>
                </div>
                <div class="item">
                  <%= image_tag "devices/screenshots/order.jpg", class: 'img-responsive' %>
                </div>
                <div class="item">
                  <%= image_tag "devices/screenshots/my.jpg", class: 'img-responsive' %>
                </div>
              </div><!--//slideshow-->
            </div><!--//device-holder-inner-->
          </div><!--//device-holder-->
        </div><!--//phone-holder-->
        <div class="clearfix"></div>
        <div class="arrow-holder text-center">
          <p class="lead-text"><a href="#benefit1">更多</a></p>
          <a href="#benefit1" class="animate pe-7s-bottom-arrow pe-3x"></a>
        </div><!--//arrow-holder-->
      </div><!--//row-->
    </div><!--//container-->
  </section><!--//promo-->

  <!-- ******Benefit-2 Section****** -->
  <section id="benefit-2" class="benefit-2 section gradient-3 has-pattern">
    <div class="section-inner">
      <div class="container text-center">
        <div class="row">
          <div class="content col-md-7 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
            <div class="content-inner">
              <span class="pe-icon pe-7s-share pe-4x"></span>
              <h2 class="title text-center">订单分享</h2>
              <p class="intro text-center">分享订单，让好朋友一起加入嘀嘀去哪儿，来体验上门服务的快感吧</p>
            </div><!--//content-inner-->
          </div><!--//content-->
          <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">
            <div class="device-holder iphone-holder iphone-gold-holder offset-top">
              <div class="device-holder-inner">
                <%= image_tag "devices/screenshots/order-share.jpg", class: 'img-responsive' %>
              </div><!--//device-holder-inner-->
            </div><!--//device-holder-->
          </div><!--//phone-holder-->
        </div><!--//row-->
      </div><!--//container-->
    </div><!--//section-inner-->
  </section><!--//benefit-2-->

  <!-- ******Benefit-3 Section****** -->
  <section id="benefit-3" class="benefit-3 section gradient-4 has-pattern">
    <div class="section-inner">
      <div class="container text-center">
        <div class="row">
          <div class="content col-md-7 col-sm-6 col-xs-12">
            <div class="content-inner">
              <span class="pe-icon pe-7s-camera pe-4x"></span>
              <h2 class="title text-center">服务评价</h2>
              <p class="intro text-center">您可以对我们服务人员每次服务进行评价，以便我们为您提供更好的服务，也方便您为我们提供及时的反馈，改善我们的服务</p>
            </div><!--//content-inner-->
          </div><!--//content-->
          <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">
            <div class="device-holder iphone-holder iphone-gold-holder offset-top">
              <div class="device-holder-inner">
                <%= image_tag "devices/screenshots/evaluation.jpg", class: 'img-responsive' %>
              </div><!--//device-holder-inner-->
            </div><!--//device-holder-->
          </div><!--//phone-holder-->
        </div><!--//row-->
      </div><!--//container-->
    </div><!--//section-inner-->
  </section><!--//benefit-3-->

  <!-- ******CTA Section****** -->
  <section id="cta-section" class="cta-section section gradient-5">
    <div class="download text-center">
      <div class="container">
        <h3 class="title">下载嘀嘀去哪儿</h3>
        <ul class="list-inline download-list">
          <li>
            <a class="btn btn-cta btn-cta-primary" href="#">
              <i class="fa fa-apple"></i>
              <span class="text">Download for iOS</span>
            </a>
          </li>
          <li>
            <a class="btn btn-cta btn-cta-primary" href="#">
              <i class="fa fa-android"></i>
              <span class="text">Download for Android</span>
            </a>
          </li>
        </ul>
        <figure class="qr-holder">
          <%= image_tag "buttons/QR-code.png" %>
          <figcaption class="caption">扫描二维码下载</figcaption>
        </figure>
      </div><!--//container-->
    </div><!--//download-->
  </section><!--//cta-section-->
</div><!--//sections-wrapper-->
